@model IEnumerable<TicketBus.Models.Voyage>


@if (Model != null)
{
    <table class="table table-condensed">
        <tr>
            <td>
                <p><b>Voyage number</b></p>
            </td>
            <td>
                <p><b>Voyage name</b>
                </p></td>
            <td>
                <p><b>Departure DateTime</b>
                </p></td>
            <td>
                <p><b>Arrival DateTime</b>
                </p></td>
            <td>
                <p><b>Travel time</b>
                </p></td>
            <td>
                <p><b>Number of seats</b></p>
            </td>
            <td>
                <p><b>One ticket cost</b>
                </p></td>
            <td>
                <p><b>Buying a ticket</b>
                </p></td>
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>
                    @v.VoyageNumber
                </td>
                <td>
                    @v.VoyageName</td>
                <td>
                    @v.DepartureDateTime</td>
                <td>
                    @v.ArrivalDateTime
                </td>
                <td>
                    @v.TravelTime
                </td>
                <td>
                    @v.NumberOfSeats</td>

                <td>
                    @v.OneTicketCost</td>
                <td>
                    <a href="/Home/Ticket/@v.Id">Buy ticket</a>
                </td>
            </tr>
        }
    </table>

}
else
{
    <h4>Not found</h4>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}